.container {
    width: 80%;
    margin: 0 auto;
}


.footer {
    background-color: rgb(61, 61, 61);
    padding: 45px 0;
    background-image: url(/public/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(/public/dc-logo.png); */
}

.totalList {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;

}

.flexList {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 700;
    color: beige;
}

.flexList ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
    font-size: smaller;
    color: rgb(212, 212, 212);
    font-weight: 100;
}


.signNow {
    background-color: rgb(65, 65, 65);
    padding: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid rgb(39, 103, 163);
}


.icons{
    display: flex;
    align-items: center;
    gap: 5px;

}

.icons p {
    font-weight: 700;
    font-size: medium;
    color: rgb(39, 103, 163);
}
