.titolo {
    color: blue;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

a {
    text-decoration: none;
    color: inherit;
}


.listDivision {
    display: flex;
    align-items: center;
    list-style: none;
}


ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

ul a {
    font-weight: 700;
}