* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: small;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: 0 auto;
}